<!DOCTYPE html>
<html>
<head>
</head>
<body>
<%=image_tag "genesis.png"%>
<div class='row'>
    <div class='col-sm-2 col-' style='margin-top:200px' >		
		<%=image_tag "articles.jpg"%>
	</div>
	<div class='col-sm-2'>
	</div>
	<div class='col-sm-6' style='margin-bottom:500px'> 
	<%=image_tag "Flows.png", :size => '530x115'%>
		<h1>MOST READ ARTICLES</h1>

		<% @rss.each do |rss| %>
		<h2> <%= link_to rss.title, rss.link %></h2>
		<p><%=rss.description.split(';')[2].split('.')[0] %></p>
		<%= image_tag rss.media_content_url %>
		<% end %>
	</div>
	<div class='col-sm-1'>
	<%=image_tag "Flows2.png", :size => '150x520'%>
	</div>	
</div>
</body>
<div class="container">
<%= yield %>
</div>

</div>
</html>