<!DOCTYPE html>
<html>
<head>
  <title>WELCOME</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">

    <!--start header-->

   <header>
 
    <!--start logo-->

    <%=image_tag "Godcreated.png", :size => '800x500', :class => 'pic' %>
    <!-- <a href="#" id="logo"><img src="images/u2.jpg" width="221" height="100" alt="logo"/></a>    
 -->
	<!--end logo-->
	
   <!--start menu-->

	<nav>
    <ul>s 
    <li><a href="#" class="current">Home</a>

	</li>
    <li><a href="#">About us</a></li>
    <li><%= link_to 'Login', 'authenticate/login'%></li>
    <li><%= link_to("User", 'user/index')%></li>
    <li><%= link_to("Articles", 'story/index')%></li>
    <li><%= link_to("Finances", 'expenses/index')%></li>
    
		
    </ul>
    </nav>
   </header>

		<div class="container">
		<%= yield %>
		</div>

	<div id="intro">
   
   <div class="group_bannner_right">
   </div>
   
   <header class="group_bannner_left">
   <hgroup>
    <%=image_tag "genesis.png"%>
      <div class="rotator" id = "middle">
          <div> <h2>“In the beginning God created the heaven and the earth“ <font color="blue"><i>— Genesis 1:1</i></font></h2></div>
          <div> <h2>“And God created great whales and every living creature that moveth, which the waters brought forth abundantly, after their kind“ <font color="yellow"><i>— Genesis 1:21a</i></font></h2></div>
          <div> <h2>“And every winged fowl after his kind, and God saw it was good“ <font color="green"><i>— Genesis 1:21b</i></font></h2></div>
      </div>
   </hgroup>
   </header>
   </div>

  
 
   <!--end container-->
   
   <!--start footer-->
   <!-- <footer>
   <div class="container">  
   <div id="FooterTwo"> © 2011 Think simple </div>
   <div id="FooterTree"> Valid html5, design and code by <a href="http://www.marijazaric.com">marija zaric - creative simplicity</a>   </div> 
   </div>
   </footer> -->

<script>

  $(".rotator > div:gt(0)").hide();
  setInterval(function() {
    $('.rotator > div:first')
    .fadeOut(0)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('.rotator');
}, 3000);
</script>


</body>


</html>