<%- model_class = Event -%>
<div class = 'row container'>
<div class="col-md-9">
  
<div style="margin: 20px 20px 0px;">
<form class="bs-example bs-example-form" role="form">
    <div class="row">
      <div class="col-md-offset-6">
        <div class="input-group">
          <%= form_tag url: 'problems', method: :get do %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search for event"%>
              <span class="input-group-btn">
                  <%= submit_tag "Search", class: "btn btn-primary" %>
                <% end %>
              </span>
        </div>
      </div>
   </div>
</form>
</div>
    </div>
</div>
</br>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:venue) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <!-- <td><%= link_to event.id, event_path(event) %></td> -->
        <td><%= event.date %></td>
        <td><%= event.title %></td>
        <td><%= event.venue %></td>
        <td><%= event.description %></td>
        <td><%= image_tag(event.picture, :size => '80x80')%></td>
        <td><%= event.created_at.to_formatted_s(:long_ordinal) %></td>
        <td>


          <%= link_to t('.show', :default => t("helpers.links.show")),
                      event_path(event), :class => 'btn btn-default btn-xs' %>
<% end %>