<h1>Editing expenditure</h1>

<%= render 'form' %>

<%= link_to 'Show', @expenditure %> |
<%= link_to 'Back', expenditures_path %>

<!-- 
start Revenue content
 -->
<h1>Editing revenue</h1>

<%= render 'form' %>

<%= link_to 'Show', @revenue %> |
<%= link_to 'Back', revenues_path %>


<!-- end of Revenue content -->