<%=image_tag "genesis.png"%>
<h1>FINANCIAL STATEMENT FOR THE YEAR ENDED 2014</h1>

<div class="pp">
  <div="container">
    <h2><b>Expenditure</b><h2>
    <ol>
        <li>Date</li>
        <li>Salary</li>
        <li>Maintenance</li>
        <li>Utility bills</li>
        <li>Total expenditure</li>
        <th colspan="3"></th>
  </ol>

    <tbody>
      <% @expenditures.each do |expenditure| %>
        
          <li><%= expenditure.date %></li>
          <li><%= expenditure.salary %></li>
          <li><%= expenditure.maintenance %></li>
          <li><%= expenditure.utility_bills %></li>
          <li><%= expenditure.total_expenditure %></li>
          <td><%= link_to 'Show', expenditure %></td>
          <td><%= link_to 'Edit', edit_expenditure_path(expenditure) %></td>
          <td><%= link_to 'Destroy', expenditure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      <% end %>
    </tbody>


  <br>
  <!-- </div> -->

  <!-- revenue here -->
<!--   <div = 'row'  style='margin-left:165px' style='padding:5px'>
  <div="container"> -->
    
    <h2><b>Revenue</b><h2>
    <ol>
        <li>Tithe</li>
        <li>Offerings</li>
        <li>Donations</li>
        <li>Misc_income</li>
        <th colspan="3"></th>
  </ol>

    <tbody>
      <% @revenues.each do |revenue| %>
        
          <li><%= revenue.tithe %></li>
          <li><%= revenue.offerings %></li>
          <li><%= revenue.donations %></li>
          <li><%= revenue.misc_income %></li>
          <li><%= revenue.total_revenue %></li>
          <td><%= link_to 'Show', revenue %></td>
          <td><%= link_to 'Edit', edit_revenue_path(revenue) %></td>
          <td><%= link_to 'Destroy', revenue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      <% end %>
    </tbody>


  <br>
  <!-- </div>
  </div> -->
</div>
<!-- end of revenue section -->

<!-- <%= link_to 'New Revenue', new_revenue_path %> -->
